<app-jumbotron-bolivia></app-jumbotron-bolivia>

<div class="card-columns">
  <div class="card">
    <img src="/assets/bolivia31_cholitas_luchadoras.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cholitas Wrestling</h5>
      <p class="card-text">Enjoy an unique experience in "El Alto" attending to one of the most unique experiences of the Altiplano Boliviano.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>"A journey of a thousand miles begins with a single step" </p>
      <footer class="blockquote-footer">
        <small class="text-muted">
           <cite title="Source Title ">Chinese proverb</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img src="assets/bolivia24_restaurantegustu_Facada.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">El Almuerzo</h5>
      <p class="card-text">Stroll into work at 10. Lunch from 12 till three. Leave work at five. That's living!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago (sort here with date) </small></p>
    </div>
  </div>
  <div class="card bg-danger text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>“Travel makes one modest. You see what a tiny place you occupy in the world.”</p>
      <footer class="blockquote-footer text-white">
        <small>
          Gustav Flaubert, <cite title="Source Title">French novelist </cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">El Salar</h5>
      <p class="card-text">The reflections of the Earth are the reflections of yorself.</p>
      <p class="card-text"><small class="text-muted">(maybe a website link)</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/bolivia14_hotel_salarUyuni.png" class="card-img-top" alt="...">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Kachi Lodge</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Uyuni salt flats,<cite title="Source Title"> Jirira community, Bolivia </cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">"I see that it is by no means useless to travel, if a man wants to see something new"</p>
      <p class="card-text"><small class="text-muted">Jules Verne - Around the World in Eighty Days</small></p>
    </div>
  </div>
</div>