<app-jumbotron-countries></app-jumbotron-countries>
<div class="row d-flex justify-content-around">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="./assets/Brasil1.png" alt="Rio di Janeiro" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Brasil</h1> 
      <a class="btn btn-dark btn-lg" href="/brasil" role="button">Discover</a>
    </div>
  </div>
</div>


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="./assets/bolivia1_salarUyuni.png" alt="Salar de Uyuni" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Bolivia</h1> 
      <a class="btn btn-dark btn-lg" href="/bolivia" role="button">Discover</a>
    </div>
  </div>
</div>


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="./assets/Argentina1.png" alt="Bariloche" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Argentina</h1> 
      <a class="btn btn-dark btn-lg" href="/argentina" role="button">Discover</a>
    </div>
  </div>
</div>

</div>