<div class="row">
        <div class="col-md-5">
                <!-- We will build this form using ReactiveForm based on the property "form" inside experienceservice.ts  -->
                <form [formGroup]="this.experienceService.form" (ngSubmit)="onSubmit()">
                        <input type="hidden" formControlName="$key"><!-- this is a primary key for each record of experience and after that we can display the active form control-->
                        <div class="form-group">
                                <label>experience</label>
                                <input formControlName="experience" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.experience.errors}">

                                <div class="invalid-feedback" *ngIf="submitted && formControls.experience.errors">This field is required</div>

                        </div>
                        <div class="form-group">
                                <label>Days</label>
                                <input formControlName="days" class="form-control"[ngClass]="{'is-invalid':submitted && formControls.days.errors}">

                                <div class="invalid-feedback" *ngIf="submitted && formControls.days.errors">This field is required</div>
                        </div>
                        <div class="form-group">
                                <label>Number of People</label>
                                <input formControlName="people" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.people.errors}">

                                <div class="invalid-feedback" *ngIf="submitted && formControls.people.errors">This field is required</div>
                        </div>
                        <div class="form-group">
                                <label>Picture of the location</label>
                                <input formControlName="img" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.img.errors}">

                                <div class="invalid-feedback" *ngIf="submitted && formControls.img.errors">This field is required</div>
                        </div>
                        <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Submit"><!-- the value of the formControlName must match the name that we provided inside FormGroup in CustomerService class -->

                        </div>
                </form>
        </div>
        <div class="col-md-7">
                <app-experience-list></app-experience-list>
        </div>
</div>
<div class="alert alert-info" *ngIf="showSuccessMessage">
        submitted successfully.
</div>
