<app-jumbotron-brasil></app-jumbotron-brasil>

<div class="card-columns">
  <div class="card">
    <img src="/assets/brasil-5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pão de Açúcar</h5>
      <p class="card-text">One of the most beautiful attractions in Rio de Janeiro and one of the most famous in Brazil.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>"A journey of a thousand miles begins with a single step" </p>
      <footer class="blockquote-footer">
        <small class="text-muted">
           <cite title="Source Title ">Chinese proverb</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img src="assets/brasil-3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">The King of Modernism</h5>
      <p class="card-text">oscar neumayer</p>
      <p class="card-text"><small class="text-muted">Museum Oscar Neumayer Brasil </small></p>
    </div>
  </div>
  <div class="card bg-danger text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>“Travel makes one modest. You see what a tiny place you occupy in the world.”</p>
      <footer class="blockquote-footer text-white">
        <small>
          Gustav Flaubert, <cite title="Source Title">French novelist </cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">El Salar</h5>
      <p class="card-text">The reflections of the Earth are the reflections of yorself.</p>
      <p class="card-text"><small class="text-muted">(maybe a website link)</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/brasil-8.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>get lost in Sao Paulo</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Sao Paulo,<cite title="Source Title"> Brasil </cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">"I see that it is by no means useless to travel, if a man wants to see something new"</p>
      <p class="card-text"><small class="text-muted">Jules Verne - Around the World in Eighty Days</small></p>
    </div>
  </div>
</div>