<!-- <p>travel-list works!</p> -->
<form class="form-inline">
        <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
        <button class="btn btn-outline-primary" (click)="searchText=''">x</button>
</form>

<table class="table table-sm">
        <thead>
                <th>Full Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th></th>
        </thead>
        <ng-container *ngFor="let travel of travelArray">
                <tr class="table-dark"  *ngIf="filterCondition(travel)">
                        <td>{{travel.fullName}}</td>
                        <td>{{travel.email}}</td>
                        <td>{{travel.mobile}}</td>
                        <td>
                                <button class="btn btn-info" (click)="travelService.populateForm(travel)">Edit</button>
                                <button class="btn btn-danger" (click)="onDelete(travel.$key)">Delete</button>
                        </td>
                </tr>
        </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully</div>